.container {
    height: 19%;
    border: 1px  black solid;
}

.input-container{
    margin: 0 auto;
    text-align: center;
    width: 95%;
    border: 1px solid red;
    height: 60%;
}

.input-container > input {
    width: 99%;
    line-height: 2.5em;
    border: none;
}